<!-- <div *ngFor="let item of collection">
    <p>{{item.name}}</p>
    <img src="../../../assets/images/{{item.id}}.png" alt="" width="100">
</div> -->

<h3>{{pokemon.name | uppercase}}</h3>
<div>
  <label for="name">Poke name:</label>
  <input id="name" [(ngModel)]="pokemon.name" placeholder="name">
</div>

<h3>My pokemons</h3>

<ul class="pokemons">
  <li *ngFor="let pokemon of pokemons" [class.selected]="pokemon == selectedPokemon">
    <button type="button" (click)="onSelect(pokemon)">
      <span class="badge">{{pokemon.id}}</span> {{pokemon.name}}
    </button>
  </li>
</ul>

<app-pokemon-detail [pokemon]="selectedPokemon"></app-pokemon-detail>