.card {
  border: 2px solid;
  margin: 10px 20px;
  width: 250px;
  
  button {
    display: block;
    margin: 10px auto;
  }
  
  .list-description {
    display: block;
    padding-top: 10px;
    text-align: center;
  }

}